.activity-grid{
    display: grid;
    /* gap: 1.5rem; */
    grid-template-rows: 1fr 1fr 5fr;
    

}

.activity1{
    display: grid;
}

.activity2{
    display: grid;
    grid-row: 2;
    height: 70px;
}

.activity3{
    display: grid;
    grid-row: 3;
}

.activity4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.activity5-grid{
    display: grid;
    width: 11px;
    height: 11px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: 12rem;
    margin-left: 12rem;
}

.activity6{
    border: 1px solid black;
    background-color: darksalmon;
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: .5cm;
}

.activity-button{
    border-radius: 15px;
    background-color: rgba(165, 42, 42, 0.514);
    cursor: pointer;
}










 .goback{
    cursor: pointer;
    border-radius: 20px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60);
}

.goback:hover{
    background: rgb(139, 7, 7);
}

.createContainer{
    /* background-image: url('https://images.unsplash.com/photo-1616315168316-61d6e5f16ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80'); */
    /* background-image: url('https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    display: grid; */
    display: grid; /*agregado*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


.create1{
    display: grid;
    background-image: url('https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    grid-column: 1/5;
    grid-row: 1/5;
}

.blank{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(197, 139, 32, 0.719);
    border-radius: 20px;
    width: 150px;
    height: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 105%;
}

.add{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(98, 145, 13);
    cursor: pointer;
    font-size: 120%;
    border-radius: 20px;
    height: 28px;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.add:hover{
    background: rgb(58, 85, 8);
}

.things{
    /* display: flex; */
    display: grid;
    font-family: sans-serif;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid black;
    width: 1000px;
    height: 575px;
    background-color: rgba(172, 153, 153, 0.445);
    /* flex-direction: column;
    align-items: center; */
    grid-row: 2/3;
    grid-column: 2/3;
}


.actdiv{
    /* background-color: rgba(175, 138, 36, 0.657); */
}

.titleact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
    font-family: fantasy;
    font-style: oblique;
    font-weight: lighter;
    text-decoration: underline;
    color: rgb(236, 223, 179);
    justify-items: end;
}